.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
display: flex;justify-content: center;
}
.container input {
  height: 40px;

  display: flex;
border: none;
background-color: black;
border-radius: 5px;
color: aqua;
margin-top: 80px;
font-size: 19px;
}
.container button{
height: 40px;
background-color: black;
color: aqua;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 100px;
margin-left: 10px;
border-radius: 5px;
padding: 10px;
cursor: pointer;
margin-top: 80px;

}
.value{
  height: 40px;
 display: flex;
border: none;
border-radius: 5px;

justify-content: center;}
.value ul li{
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.data{
  height: 40px;
 display: flex;
border: none;
border-radius: 5px;
align-items: center;
justify-content: center;
margin-top: 100px;

}
.data ul li{

  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;

}
.image_container{
height: 10px;
width: 100%;

}
